.blinds-settings-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 151.5px);

  .percent {
    font-size: 4rem;
    font-weight: bold;
  }

  .range-input {
    width: 90%;
    max-width: 25rem;
    appearance: none;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 1.5rem;
      height: 1.5rem;
      background-color: var(--ion-color-primary);
      border-radius: 50%;
      cursor: pointer;
      transform: translateY(-0.5rem);
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 0.5rem;
      background-color: var(--ion-color-secondary);
    }
  }
}
