<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button routerLink="/tabs/home">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>{{ displayedName }}</ion-title>
</ion-toolbar>
<ion-content>
  <div class="main-content">
    <app-color-picker
      *ngIf="type === 'lamp'"
      [uniqueDeviceAdress]="uniqueDeviceAdress"
      (colorDataLoaded)="isLoaded = $event"
    ></app-color-picker>
    <app-blinds-settings *ngIf="type === 'blinds'"
    [uniqueDeviceAdress]="uniqueDeviceAdress"
    (blindsDataLoaded)="isLoaded = $event"
    ></app-blinds-settings>
  </div>
  <div *ngIf="!isLoaded" class="spinner-wrapper">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>
