<div class="overlay">
  <div
    class="wrapper"
    routerLink="device"
    [queryParams]="{
      uniqueDeviceAdress: uniqueDeviceAdress,
      displayedName: displayedName,
      type: type,
    }"
  >
    <div class="section">
      <img alt="icon" />
    </div>
    <div class="info">
      <span class="name">{{ displayedName }}</span>
      <span class="localization">{{ localization }}</span>
    </div>
  </div>
  <button
    *ngIf="canToggle"
    class="btn floating"
    [ngClass]="{
        'active': state === 'on',
      }"
    (click)="toggleDevice()"
  >
    <ion-icon name="power-sharp"></ion-icon>
  </button>
</div>
