<ion-toolbar>
  <ion-title>My Home</ion-title>
</ion-toolbar>

<ion-content>
  <div class="main-content">
    <div class="sensor-info-container">
      <div class="wrapper sensor-info">
        <img
          src="../../../assets/images/icons/home-temp.svg"
          alt="temperature"
        />
        <span>{{currentTemperature}}°C</span>
      </div>
      <div class="wrapper sensor-info">
        <img
          src="../../../assets/images/icons/home-humidity.svg"
          alt="temperature"
        />
        <span>{{currentHumidity}}%</span>
      </div>
    </div>
    <app-weather
      (weatherDataLoaded)="weatherDataLoaded = true"
      (weatherDataFailed)="weatherDataFailed"
    ></app-weather>
    <span class="title">All Devices</span>
    <div class="devices">
      <app-device
        [canToggle]="true"
        [displayedName]="'Lamp Model A'"
        [uniqueDeviceAdress]="'rgb_1'"
        [localization]="'Living room'"
        [type]="'lamp'"
      ></app-device>
      <app-device
        [canToggle]="true"
        [displayedName]="'Roller Blind'"
        [uniqueDeviceAdress]="'blinds_1'"
        [localization]="'Kitchen'"
        [type]="'blinds'"
      ></app-device>
      <app-device
        [canToggle]="true"
        [displayedName]="'Lamp Model B'"
        [uniqueDeviceAdress]="'rgb_2'"
        [localization]="'Living room'"
        [type]="'lamp'"
      ></app-device>
    </div>
  </div>
  <div *ngIf="isLoaderVisible" class="spinner-wrapper">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <app-alert
    [isAlertVisible]="isAllertVisible"
    [alertMessage]="alertMessage"
  ></app-alert>
</ion-content>
