.sensor-info-container {
  display: flex;
  gap: 20px;
}

.sensor-info {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;

  img {
    width: 25px;
    height: 25px;
  }
}

.devices {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
