<ion-toolbar>
  <ion-title>Scenes</ion-title>
</ion-toolbar>

<ion-content>
  <div class="main-content">
    <app-scene-item
      [name]="'Bedtime'"
      [iconName]="'bed-sharp'"
    ></app-scene-item>
    <app-scene-item
      [name]="'Romantic'"
      [iconName]="'heart-sharp'"
    ></app-scene-item>
    <app-scene-item
      [name]="'Night Sky'"
      [iconName]="'moon-sharp'"
    ></app-scene-item>
    <app-scene-item [name]="'Warm'" [iconName]="'flame-sharp'"></app-scene-item>
  </div>
</ion-content>
