<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button routerLink="/tabs/network">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Settings</ion-title>
</ion-toolbar>
<ion-content>
  <div class="main-content">
    <div class="input-section">
      <span class="title"> Server IP Address</span>
      <div class="input-wrapper ">
        <input
          class="input"
          type="text"
          [(ngModel)]="ipAddress"
          (ngModelChange)="handleInputChange($event)"
          placeholder="Enter IP Address"
        />
        <button
          [ngClass]="{
          'active': isIpSaved,
          'error': !isIPValid,
        }"
          class="save-btn"
          (click)="saveIp()"
        >
          <span *ngIf="!isIpSaved && isIPValid">Save</span>
          <span *ngIf="isIpSaved && isIPValid">Saved</span>
          <span *ngIf="!isIPValid">(!)</span>
        </button>
      </div>
    </div>
    <div class="input-section">
      <span class="title">Alert E-mail</span>
      <div class="input-wrapper">
        <input
          class="input"
          type="text"
          [(ngModel)]="email"
          (ngModelChange)="isEmailSaved = false"
        />
        <button
          [ngClass]="{
          'active': isEmailSaved,
        }"
          class="save-btn"
          (click)="saveEmail()"
        >
          <span *ngIf="!isEmailSaved">Save</span>
          <span *ngIf="isEmailSaved">Saved</span>
        </button>
      </div>
    </div>

  </div>
  <div *ngIf="!isLoaded" class="spinner-wrapper">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>
