<ion-toolbar>
  <ion-title>Security</ion-title>
</ion-toolbar>

<ion-content>
  <div class="main-content">
    <button class="btn arm-btn" (click)="toggleArming()">
      <div *ngIf="!isArmed">
        <ion-icon name="lock-open-sharp"></ion-icon>
        <span>Unarmed</span>
      </div>
      <div *ngIf="isArmed">
        <ion-icon name="lock-closed-sharp"></ion-icon>
        <span>Armed</span>
      </div>
    </button>
    <span class="title">Settings</span>
    <div class="settings-section">
      <span>Send Notifications</span>
      <ion-toggle
        [(ngModel)]="areNotificationsAllowed"
      ></ion-toggle>
    </div>
    <div class="settings-section">
      <span>Use Siren</span>
      <ion-toggle
        [(ngModel)]="isAlarmAllowed"
        (ngModelChange)="setValues()"
      ></ion-toggle>
    </div>
  </div>
  <div *ngIf="isLoaderVisible" class="spinner-wrapper">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <app-alert
    [isAlertVisible]="isAlertVisible"
    [alertMessage]="alertMessage"
  ></app-alert>
</ion-content>
